doctype html
head
  //Page for viewing reports
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title 3DRM
  link(rel='stylesheet' href='/stylesheets/style.css')
header
  block title
nav
  //Links between pages, links underneath each is source of icon
  a(href='/')
    img(src='/images/index.ico' alt='Home' width='30')
  // https://www.iconspedia.com/icon/home-13-54.html
  a(href='/help')
    img(src='/images/help.ico' alt='Help' width='30')
  // https://www.iconspedia.com/icon/info-icon-45523.html
  a(href='/plugin')
    img(src='/images/plugin.ico' alt='Plugin' width='30')
  // https://www.iconspedia.com/icon/download-icon-45003.html
  a(href='/encrypt')
    img(src='/images/encrypt.ico' alt='Encrypt' width='30')
  // https://www.iconspedia.com/icon/add-file-icon-45026.html
  a(href='/fileView')
    img(src='/images/file.ico' alt='View Files' width='30')
  // https://www.iconspedia.com/icon/file-icon-45361.html
  a(href='/grantAccess')
    img(src='/images/access.ico' alt='Grant Access' width='30')
  // https://www.iconspedia.com/icon/key-black-icon-28789.html
  a(href='/login')
    img(src='/images/login.ico' alt='Login' width='30')
  // https://www.iconspedia.com/icon/login-icon-45597.html
  a(href='/logout')
    img(src='/images/logout.ico' alt='Logout' width='30')
  // https://www.iconspedia.com/icon/logout-icon-45598.html
main
  block content

footer
  | 3DRM 2023 Leo Ring Contact: leoring03@gmail.com
