extends layout

block title
  | Download Plugin

block content
  div(class="chunks")
    form(action='' method='post')
      div
        label(for='') Click to Download Plugin:
        input(type='submit' name='toDownloadPlugin' value='Download')

